<!doctype html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KK87ZX3');</script>
    <!-- End Google Tag Manager -->
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  </head>
  <body class="bg-white text-gray dark:bg-gray-800 dark:text-gray-50">
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KK87ZX3"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include "../components/navigation.njk" %}
    <main class="p-12">
      <h1 class="text-3xl mb-8">{{title}}</h1>
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>
