---
title: Contacto
layout: layouts/base.njk
permalink: /contacto/
eleventyNavigation:
  key: Contacto
  order: 3
---

<ul>
     {% for item in contact.items %}
     <li><a href="{{ item.link }}">{{ item.name }}</a></li>
     {% endfor %}
</ul>

<p class="mt-4">☝️ Dónde encontrarme </p>
